//style1: name:nd-page_1_style1; style:true; script:false;

//style2: name:nd-page_1_style2; style:true; script:false;

// nd-page (css)
+b.nd-page.margin
    +e.content
        +e.body.margin
            img(src="img/temp/item-page-full/01.jpg" alt="")
            h1 Заголовок H1
            p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
            p Окраску для ваших абонентской ячейки можно выбрать из палитры RAL. Будь то ящик почтовый зеленый или малиновый. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.
            h2 Заголовок H2
            p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
            p Окраску для ваших абонентской ячейки можно выбрать из палитры RAL. Будь то ящик почтовый зеленый или малиновый. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.
            h3 Заголовок H3
            p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
            p Окраску для ваших абонентской ячейки можно выбрать из палитры RAL. Будь то ящик почтовый зеленый или малиновый. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.
            h4 Заголовок H4
            p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
            p Окраску для ваших абонентской ячейки можно выбрать из палитры RAL. Будь то ящик почтовый зеленый или малиновый. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.
            h5 Заголовок H5
            p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
            p Окраску для ваших абонентской ячейки можно выбрать из палитры RAL. Будь то ящик почтовый зеленый или малиновый. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.
            h6 Заголовок H6
            p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
            p Окраску для ваших абонентской ячейки можно выбрать из палитры RAL. Будь то ящик почтовый зеленый или малиновый. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.

            h4 H4 заголовок маркированного списка:
            ul
                li пункт
                li пункт
                li пункт
            h4 H4 заголовок нумерованного списка:
            ol
                li пункт
                li пункт
                li пункт

            h4 Дефолтная таблица (из 2х колонок):
            table(border="1", colpadding="0", colspacing="0")
                thead
                    tr
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                tbody
                    tr
                        td текст
                        td текст
                    tr
                        td текст
                        td текст

            h4 Дефолтная таблица (многоколоночная):
            table(border="1", colpadding="0", colspacing="0")
                thead
                    tr
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                tbody
                    tr
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                    tr
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст

            h4 Таблица с уникальным оформлением (из 2х колонок):
            table.custom
                thead
                    tr
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                tbody
                    tr
                        td текст
                        td текст
                    tr
                        td текст
                        td текст

            h4 Таблица с уникальным оформлением (многоколоночная):
            table.custom(style='width: 1070px;')
                thead
                    tr
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                tbody
                    tr
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                    tr
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст


            h4 Таблица без стилей (из 2х колонок):
            table.nostyle
                thead
                    tr
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                tbody
                    tr
                        td текст
                        td текст
                    tr
                        td текст
                        td текст

            h4 Таблица без стилей (многоколоночная):
            table.nostyle(style='width: 1070px;')
                thead
                    tr
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                        th заголовок шапки таблицы
                tbody
                    tr
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                    tr
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст
                        td текст

            h2 Кнопки
            div
                +b.A(href="javascript://").btn_primary primary
            br
            div
                +b.A(href="javascript://").btn_secondary secondary
            br
            div
                +b.A(href="javascript://").btn_three three

            h2 Ссылки
            a(href="javascript://") ссылки
    //+e.gallery.margin
    //    include ../../components/gallery_1/gallery_1
// КОНЕЦ: nd-page (css)
