extends layouts/default
include helpers/mixins

block variables
    - const title = "Главная";
    - const description = 'DESCRIPTION';
    - const keywords = 'KEYWORDS';
    - const pageClass = 'PAGE-CLASS-1 PAGE-CLASS-2';

block styles
    +style('https://cdn.jsdelivr.net/npm/normalize-css/normalize.min.css')
    +style('https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.css')
    +style('https://cdn.jsdelivr.net/npm/lightgallery/dist/css/lightgallery.min.css')
    +style('css/common.css')
    +style('css/lightgallery.css')

block scripts
    +script('https://cdn.jsdelivr.net/npm/jquery@1.11.0/dist/jquery.min.js')
    +script('https://cdn.jsdelivr.net/npm/jquery-once@2.2.0/jquery.once.min.js')
    +script('https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js')
    +script('https://cdn.jsdelivr.net/npm/lightgallery/dist/js/lightgallery-all.min.js')
    +script('https://cdn.jsdelivr.net/npm/inputmask/dist/min/jquery.inputmask.bundle.min.js')
    +script('js/lightgallery.js')
    +script('js/theme.js')
    
    +script('../js/main.js')
    +script('../js/vendor.js')

block content
    // обертка контента
    .wrapper
        include ../components/hd/hd.pug
    include ../components/ft/ft.pug
    // КОНЕЦ: обертка контента
